body.dark #block.MuiPaper-root{
  background: #3d314a;
  color: #fff;
}

#block {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  background-color: #F5EBE0;
  color: #4A5759;
  #box {
    display: inline-block;
    margin: auto;
    #text {
      display: flex;
      justify-content: center;
      margin-bottom: 3vh;
    }
    #button {
      background-color: #77A68A;
    }
  }

}