body.dark #setcard.MuiPaper-root {
  background-color: #3d314a;
  color: #fff;
}
#setcard.MuiPaper-root{
  background-color: #F5EBE0;
  min-height: 80vh;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  #text1{
    margin-bottom: 2%;
    font-weight: bold;
  }
  #text2{
    margin-top: 10%;
  }
}
@media (max-width: 600px) {
  #setcard.MuiPaper-root {
    min-height: 100vh;
  }
  .text #text1{
    font-size: 2.2rem;
  }
  #setcard .MuiFormGroup-root{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20% ;
  }
}