
body.dark .sidebar .MuiDrawer-paper{
  background: #2c2337;
  color: #fff;
  #one:nth-child(even){
    background-color: #3d314a;
  }
  #usun #minus{
    color: #77A68A;
  }
}
.sidebar {
  color: white;
  .MuiDrawer-paper {
    background-color: #D7BCC8;
    padding-bottom: 15vh;
    color: white;
    font-family: Calibri, emoji;
    .box{
      display: flex;
      margin-left: 10px;
      margin-top: 8px;
      flex-direction: row;
      align-content: space-between;
      align-items: center;
      .button{
        display: inline-block;
        color: white;
        height: 5vh;
        margin-top: 2vh;
        border-radius: 40px;
        .icon{
          margin: auto;
        }
      }
    }
    .dodaj {
      margin: 2vh;
      color: white;
    }
  .contacts {
    display: inline-block;
    font-weight: bold;
    font-size: 4vh;
    margin: 5% auto auto;
    outline: 3px solid white;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 10vh;
  }
  #usun{
    color: white;
    height: 8vh;
    border-radius: 50px;
  }
  }
}
@media (max-width: 900px){
  #sidebar {
    width: 70%;
    .MuiDrawer-paper{
      width: 30%;
    }
    #stack{
      width: 40%;
      margin-top: 15%;
      margin-left: 20%;
      .contacts{
        font-size: 3vh;
      }
    }
    #one{
      width: 80%;
      #talk{
        font-size: large;
      }
      #usun{
        height: 30px;
      }
    }
    .dodaj{
      width: 40%;
    }
  }
}
@media (max-width: 630px){
  #sidebar .MuiDrawer-root{
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .MuiDrawer-paper{
    display: flex;
    flex-direction: column;
    #one{
      display: flex;
      flex-direction: column;
    }
  }
  .sideblock{
    .box{
      display: flex;
      flex-direction: column;
    }
  }
}