body.dark #chat.MuiPaper-root {
  background-color: #3d314a;
  color: #fff;
}
.mainchat{
  display: flex;
  flex-direction: row;
}
#chat.MuiPaper-root {
  background-color: #F5EBE0;
  min-height: 80vh;
  max-height: 70vh;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  padding: 2vh;
  color: #4A5759;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  font-family: "Atma", sans-serif;
  overflow-y: auto;
  #list{
    display: flex;
    overflow: auto;
    flex-direction: column;
    }
    .myMessage{
      justify-content: flex-end;
    }
    .theirMessage{
      justify-content: flex-start;
    }
    .time{
      font-size: 0.7rem;
      text-align: right;
    }

  #textfield {
    display: flex;
    padding-left: 2vh;
    padding-bottom: 2vh;
    margin-top: auto;
    #message{
      width: 90%;
      flex: 1;
    }
    #button{
      align-self: center;
      margin-top: 2vh;
      border-radius: 40px;
      background-color: white;
    }
    .icon{
      margin: auto;
      color: #77A68A;
    }
  }
}
@media (max-width: 900px) {
  .mainchat{
    flex-direction: column;
  }
  #chat.MuiPaper-root {
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .contacts {
    font-size: 2.5vh;
  }
}