body.dark #chat.MuiPaper-root {
  background-color: #3d314a;
  color: #fff;
}

#chat.MuiPaper-root {
  background-color: #F5EBE0;
  min-height: 80vh;
  max-height: 70vh;
  margin-bottom: 0;
  color: #4A5759;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-family: "Atma", sans-serif;
  overflow-y: auto;
  #list{
    flex: 0;
    overflow: auto;
  }
  #textfield {
    display: flex;
    padding-left: 2vh;
    padding-bottom: 2vh;
    margin-top: auto;
    #message{
      width: 90%;
      flex: 1;
    }
    #button{
      align-self: center;
      margin-top: 2vh;
      border-radius: 40px;
    }
    .icon{
      margin: auto;
      color: #77A68A;

    }

  }
}