body.dark #setcard.MuiPaper-root {
  background-color: #3d314a;
  color: #fff;
}
#setcard.MuiPaper-root{
  background-color: #F5EBE0;
  min-height: 80vh;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #text1{
    margin-bottom: 2%;
    font-weight: bold;
  }
  #text{
    margin-top: 10%;
  }
}