body.dark #card.MuiPaper-root {
  background-color: #3d314a;
  color: #fff;
}
#card.MuiPaper-root{
  background-color: #F5EBE0;
  min-height: 80vh;
  margin-bottom: 0;
  #control{
    color: #D7BCC8;
  }
}