{
"id": 1005,
"message": "csrftoken mismatch",
"name": "lderror",
"error": {
"id": 1005,
"message": "csrftoken mismatch",
"name": "lderror"
},
"uuid": "Qlw7wB43Rvx4E5hr5nKAhEXxGcA4Je",
"_detail": {
"user": 1989534,
"ip": "2a02:a312:c4eb:b80:c9c:3473:2cab:eab6",
"url": "/api/auth/google/"
}
}