// {
//  background: #ffffff;
//  color: #222;
//}

body.dark .sidebar .MuiDrawer-paper{
  background: #1e1e1e;
  color: #fff;
}
.sidebar {
  color: white;
  .MuiDrawer-paper {
    background-color: #D7BCC8;
    padding-bottom: 15vh;
    color: white;
    #stack{
      display: flex;
      margin-left: 10px;
      margin-top: 5px;
      flex-direction: row;
      align-content: space-between;
      #contacts {
        display: inline-block;
        font-weight: bold;
        font-size: 4vh;
      }
      #icon {
        display: inline-block;
        margin-left: 10vh;
        color: white;

      }
    }
  }
}