//.topbar  {
//  background: #eeeeee;
//}
body.dark .topbar.MuiAppBar-root{
  background-color: #231c2d;
}

.topbar .MuiAppBar-root{
  .toolbar {
    background-color: #77A68A;
    display: flex;
    justify-content: space-between;
    #name {
      font-family: "DM Serif Text", monospace;
      font-size: 6vh;
      font-weight: bold;
    }
    .box {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: row;

      .user {
        display: inline-block;
        font-size: 2px;
        margin: 0;
      }
      .status {
        margin: 0;
      }
    }
    .button{
      display: inline-block;
      margin-left: 5px;
    }
  }
}