//.topbar  {
//  background: #eeeeee;
//}
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

body.dark .topbar.MuiAppBar-root{
  background-color: #231c2d;
}

.topbar .MuiAppBar-root{
  .toolbar {
    background-color: #77A68A;
    display: flex;
    justify-content: space-between;
    #name {
      font-family: "DM Serif Text", monospace;
      font-size: 4vh;
      //font-family: "DM Serif Text", serif;
      //font-weight: 400;
      //font-style: normal;
      //.dm-serif-text-regular {
      //  font-family: "DM Serif Text", serif;
      //  font-weight: 400;
      //  font-style: normal;
      //}
      //.dm-serif-text-regular-italic {
      //  font-family: "DM Serif Text", serif;
      //  font-weight: 400;
      //  font-style: italic;
      //}
    }
    .box{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      #user{
        display: inline-block;
      }
      #button{
        width: auto;
        display: inline-block;
      }
    }
  }
}