//.topbar  {
//  background: #eeeeee;
//}

body.dark .topbar.MuiAppBar-root{
  background-color: #181818;
}

.topbar .MuiAppBar-root{
  .toolbar {
    background-color: #77A68A;
    display: flex;
    justify-content: space-between;
    #name {
      font-family: "Malgun Gothic Semilight", fangsong;
      font-size: 3vh;
    }
    .box{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      #user{
        display: inline-block;
      }
      #button{
        width: auto;
        display: inline-block;
      }
    }
  }
}