.main {
    display: flex;
}
.card1 {
    width: 20%;
}
.card2 {
    width: 60%;
}

body {
    background: #f5f5f5;
    color: #222;
    font-family: "Atma", sans-serif;
}



body.dark {
    background: #1a1423;
    color: #eaeaea;
}
