.main {
    display: flex;
}
.card1 {
    width: 20%;
}
.card2 {
    width: 60%;
}

body {
    background: #4A5759;
    color: #222;
    font-family: "Atma", sans-serif;
}

body.dark {
    background: #1a1423;
    color: #eaeaea;
}
